#main-box { 
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #D6DEB2;
}


#background-IMG {
    background-image: url(PIC/Scan\ final\ photoshop.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    position: absolute;
    padding-top: 40vh;
    background-attachment: fixed;

}

.text-center {
    font-family: 'Special Elite';
    text-align: center;
    color: #2C2C2C;
}
.text-p {
    font-family: 'Special Elite';
    text-align: center;
}
a.button{
    color: #2C2C2C;
}

@media only screen and (max-width: 600px) {
    #background-IMG {
    background-size: 100%;
    padding-top: 45vh;
     }

     h1{
        font-size: 4vw !important;
     }
     .text-p{
        font-size: 3vw !important;
     }

}